In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as scipy
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [7]:
df2 = pd.read_csv('/Users/sarahhagans/Desktop/Intermediate STATS/antiseptics.csv')
df2.rename(columns={'Antiseptic Type ': "AS", "Number of applications": "Count"}, inplace=True)
df2.head()

   Clinic AS  Count
0       1  A     22
1       1  B     71
2       1  C      8
3       1  D     49
4       2  A     38

In [3]:
df2_pivot = pd.pivot_table(df2,index='AS',columns='Clinic',values="Count")
df2_pivot.head()

Clinic   1    2    3
AS
A       22   38   84
B       71  112  298
C        8   14   37
D       49   69  182

In [19]:
df2_pivot = df2_pivot.replace(df2_pivot.columns, [0,1,2,3])

ValueError: Replacement lists must match in length. Expecting 3 got 4

In [17]:
df2_pivot.head()

Clinic   1    2    3
AS
A       22   38   84
B       71  112  298
C        8   14   37
D       49   69  182

In [ ]:
sns.distplot(df2_pivot.)

In [ ]:
scipy.stats.bartlett